<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

<div class="accordion" id="accordionExample" style="width: 1fr;">
    @for (category of categories; track category.id) 
    {
      <div ngbAccordion>
        <div ngbAccordionItem>
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>{{category.name}}</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
                <ng-template>
                  @for (child of category.children; track child.id) {
                    <div class="sub-category">{{child.name}}</div>
                  }
                </ng-template>
            </div>
          </div>
        </div>
      </div>
    }
</div>