<div class="title text-center p-3">Register</div>

<div class="container px-3 pt-3">
    <form class="row g-3">
        <div class="col-md-6">
            <label for="inputEmail4" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword4">
                    Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji. (Pas encore implémenter)
        </div>
        <div class="col-12">
            <label for="inputAddress" class="form-label">Address</label>
            <input type="text" class="form-control test" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="col-md-6">
            <label for="inputCity" class="form-label">City</label>
            <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="col-md-2">
            <label for="inputZip" class="form-label">Zip</label>
            <input type="text" class="form-control" id="inputZip">
        </div>
        <div class="col-md-4">
            <label for="inputTelephoneNumber" class="form-label">Telephone Number</label>
            <input type="text" class="form-control" id="inputTelephoneNumber">
        </div>
        <hr>
        <div class="d-grid gap-2 pb-3">
            <button type="submit" class="btn btn-success btn-lg" type="button">Create Account</button>
        </div>
    </form>
</div>
