.title {
    font-size: 30px;
    color: white;
    background-color: var(--primary-color);
}
.btn {
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
}

.btn:hover {
    background-color: var(--secondary-color);
    border: 1px solid black;
}