.sidebar {
  flex: 0 0 clamp(100px, 10vw, 200px);
}

.content {
  flex: 1;                /* prend tout le reste de l'espace */
  overflow-x: auto;       /* évite débordement horizontal */
  overflow-y: hidden;     /* empêche scroll horizontal/vertical */
}

.main-menu {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: all 0.2s;
}

.second-menu {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.2s;
  cursor: pointer;
}