:root {
  --primary-color: rgb(62, 77, 145);
  --secondary-color : rgb(50, 59, 110);
  --tertiary-color : rgb(166, 173, 236);

  --dashboard-primary-color: rgb(62, 77, 145);
  --dashboard-secondary-color: rgb(50, 59, 110);
}

.modal-header {
    background-color: var(--dashboard-primary-color);
    color: white;
}

.modal-footer {
    margin-top: 30px;
}