.image {
    position: relative;
    display: inline-block;
}

.btn-overlay {
  position: absolute;
  top: 250px;   /* distance par rapport au haut de l'image */
  right: 57px; /* distance par rapport au côté droit */
  z-index: 10; /* au-dessus de l'image */
  background-color: rgb(86 196 120);
  color: white;
  border: 1px solid black;
}

.btn-overlay:hover {
    background-color: gray;
    border: 1px solid rgb(86 196 120);
}

.modal-dialog {
    margin: 0;
    width: 100%;
}