.image {
    position: relative;
    display: inline-block;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;                  /* l’image remplit la carte */
}

.card-body {
  flex: 1;                             /* prend la place restante sous l’image */
  padding: 0.5rem;
}

.btn {
  background-color: var(--primary-color);
  border-color: 1px solid black;
  color: white;
}

.btn:hover {
  background-color: var(--secondary-color);
  border-color: 1px solid black;
  color: white;
}

.btn-overlay {
  position: absolute;
  bottom: 10px;             /* 10px depuis le bas de l'image */
  left: 50%;                /* centré horizontalement */
  transform: translateX(-50%);  /* ajuste le centre */
  z-index: 10;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-color: 1px solid black;
  /* animation apparition au hover */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.card:hover .btn-overlay {
  opacity: 1;
  pointer-events: auto;      /* devient cliquable */
}

/* Desktop : apparition au hover */
@media (hover: hover) and (pointer: fine) {
  .card:hover .btn-overlay {
    opacity: 1;
    pointer-events: auto;
  }
}

/* Mobile : toujours visible */
@media (hover: none) and (pointer: coarse) {
  .btn-overlay {
    opacity: 1;
    pointer-events: auto;
  }
}

.modal-dialog {
    margin: 0;
    width: 100%;
}
