<h1><em>Books :</em></h1>
<div class="container-fluid text-center my-4">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 row-cols-xxl-6  g-5">
      @for (book of books; track book.isbn) 
      {
          <div class="col-md-4 col-sm-6 col-sm-6 g-6">
              <div class="card h-100 shadow-sm position-relative" style=" box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                  <div class="px-2 pt-2 position-relative">
                      <img [src]="imgPath + book.imgPath" class="card-img-top" alt="Not Found">
                      <button class="btn btn-overlay mb-2 me-2" (click)="openModal(content, book)">
                        Preview
                      </button>
                  </div>
                  <div class="card-body d-flex flex-column">
                      <h5 class="card-title text-center">{{book.title}}</h5>
                      <div class="d-flex justify-content-between mt-auto">
                          <p class="align-bottom">10$</p>
                          <a href="#" class="btn btn-success"><i class="bi bi-bag-plus-fill"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      }
  </div>
</div>



<!-- Modal -->
<ng-template #content let-modal>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="d-flex">

        <div class="me-3 flex-shrink-0">
          <img [src]="imgPath + bookSelected.imgPath" alt="Produit" class="img-fluid" style="max-width: 200px;">
        </div>

        <div class="flex-grow-1">
          <h1 class="modal-title">{{bookSelected.title}}</h1>
          <h3>({{bookSelected.author}})</h3>
          <p>{{bookSelected.description}}</p>
          <hr>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn" type="button" (click)="modal.close()">Add to basket</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>


